 <section class="navbar">
        <div class="navSection1">
          <div class="image"><img src="./image/node-js.png" alt="Image of node js"></div>
          <div class="image"><img src="./image/ExpressJS.png" alt="Image of express"></div>
          <div class="image"><img src="./image/mongodb.jpg" alt="image of mongodb"></div>
        </div>
        <div class="navSection2">
            <ul>
                <div><a href="/login">Login</a></div>
                <div><a href="/register">Register</a></div>
                <div><a href="/changepassword">Change Password</a></div>
                <div><a href="/deleteaccount">Delete Account</a></div>
            </ul>
        </div>
    </section>